@using (@Html.BeginForm("SearchText", "Search", FormMethod.Post, new { id = "logoutForm", @class = "form-inline nav navbar-nav navbar-right blockchain-search-navbar" }))
{
    <div class="form-group blockchain-search">
        <div class="blockchain-search-container">
            <input type="text" class="form-control blockchain-search-input" id="searchblockchain" placeholder="Хеш / Идентификатор">
            <button type="submit" class="btn btn-default blockchain-search-button"></button>
        </div>
    </div>
}