@using (@Html.BeginForm("SearchText", "Search", FormMethod.Post, new { id = "logoutForm", @class = "form-inline nav navbar-nav navbar-right" }))
{
    <div class="form-group">
        <input type="text" class="form-control" id="searchblockchain" placeholder="Хеш / Идентификатор">
    </div>
    <button type="submit" class="btn btn-default">search</button>
}