body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Custom styles*/
.all_block {
    height:170px;
}

.external_block {
    background-color:white;
    height:160px;
    width:160px;
}

.internal_block {
    border-radius:10px;
    margin:15px;
    border-style:solid;
    border-width:5px;
    border-color:dodgerblue;
    background-color:blue;
    height:130px;
    width:130px;
}

.text_white {
    color:white;
}

.transactions-list {
    overflow: hidden;
    height: 400px;
    max-height: 400px;
}

.transactions-list .transaction {
    overflow: hidden;
    height: 30px;
    -webkit-transition: height 0.5s, -webkit-transform 0.5s;
    transition: height 0.5s, transform 0.5s;
}

.transactions-list table {
    width: 470px;
}

.transactions-list table td:nth-child(1) {
    width: 100px;
}

.transactions-list table td:nth-child(2) {
    width: 100px;
}

.transactions-list table td:nth-child(3) {
    width: 70px;
}

.transactions-list table td:nth-child(4) {
    width: 200px;
}

.transactions-list .transaction.in-transition {
    height: 0px;
}

.all-participants {

}

.participant-image img {
    height: 20px;
}

.all-statistic-link {
}